table {
    table-layout: fixed;
}

table.letrs-table thead {
   background: #005587;
   color: #ffffff;
}

table.letrs-table thead th:first-child, table.letrs-table thead th:last-child {
    background: #333333;
}

table.letrs-table p {
    margin: 0;
    font-size: .8rem;
}

.modal-body p {
    font-size: 1rem;
    margin: 0;
}

.modal-body p.mt-20 {
    margin-top: 20px;
}

.modal-body .btn-success:hover, .modal-body .btn-success:focus {
    color: #ffffff;
    border-color: #ffffff;
}

.am {
    color: #005587;
}

.pm {
    color: #c31d27;
}

img.letrs-logo-modal {
    width: 100px;
}

@media (min-width: 768px)
{
    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
}